.cu-pointer {
  cursor: pointer;
}

.text-muted-light {
  color: #939393;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: start;
}

.w-fit {
  width: fit-content;
}
